@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tienda Grupo Carrito</h1>
    <hr />
    <h3>Bienvenidos a la tienda del grupo mas prendido de NT1.</h3>
    <p>Aproveche el Hot Sale</a>.</p>
</div>
