@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tienda Carrito Libre</h1>
    <hr />
    <span stlye="font-size: 30px" >Bienvenidos a la tienda del grupo mas prendido de NT1.</span>
    <p>Aproveche el Hot Sale</p>
    <img src="https://sitontop.com.ar/wp-content/uploads/2018/05/banner-sitontop-hotsale.png" width="900px"/>
</div>
